<span style="font-size:16px">| BCOR2030, Fall 2023</span>
<br>
<span style="font-size:45px"><b>Bar Chart Race - COVID19 Data Set</b></span><img style="float: right;padding-right:50px;" src="https://eccles.utah.edu/wp-content/themes/wptheme-avada5/logos/eccles_logo_footer.png" width="300">
<br>
<br>
<span style="font-size:18px; float:left;"><b>By Prof. Byoung-gyu Gong     </b></span>
<hr>
<br>

In [1]:
import pandas as pd
import pandas_alive

In [4]:
# Read the csv file
df=pd.read_csv("covid19.csv")

# Change "data_reported" column into "datetime" data format
df['Date_reported'] = pd.to_datetime(df.Date_reported)

# Data pre-precessing

# Check up the duplicates at the entire table level
duplicateRows = df[df.duplicated()]
duplicateRows

# And drop the duplicated rows
df=df.drop_duplicates()

# Check up the duplicates at specific column combination.
df=df.drop_duplicates(subset=['Date_reported','Country'])

# And drop the duplicated rows one more time
df.dropna(axis=0)
df

# Check whether there is remaining missing values
df['Date_reported'].isnull().values.any()

# Converting long format data into short format
df = pd.pivot(df, 
              index='Date_reported', # Targeted index column: It should be the date column.
              columns='Country', # The column that will be transposed into column names with its unique values.
              values='Cumulative_cases') # The column that will be the value of each columns and rows.

# Check up how your data was converted.
df = df.iloc[:, 10:25] # I chose only specific number of rows as the size if data is limited in this computer.
df.tail()

Country,Armenia,Aruba,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bermuda,Bhutan
Date_reported,,,,,,,,,,,,,,,
2023-12-03,451272,44224,11679177,6081287,834070,38084,696614,2046090,110136,994037,4834822,71373,28036,18860,62697
2023-12-10,451353,44224,11689066,6081287,834165,38084,696614,2046133,110141,994037,4838090,71373,28036,18860,62697
2023-12-17,451353,44224,11699419,6081287,834183,38084,696614,2046165,110145,994037,4841934,71373,28036,18860,62697
2023-12-24,451353,44224,11710216,6081287,834183,38084,696614,2046207,110153,994037,4841934,71373,28036,18860,62697
2023-12-31,451353,44224,11710216,6081287,834183,38084,696614,2046256,110153,994037,4841934,71373,28036,18860,62697

In [7]:
#covid_df = pandas_alive.load_dataset()

df.fillna(0).plot_animated(
    filename='example-line-chart.gif',
    kind='line',
    period_label={'x':0.25,'y':0.9})

Generating LineChart, plotting ['Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan']

/Users/bgong/Documents/PyProjects/pandas_alive/.venv/lib/python3.8/site-packages/pandas_alive/_base_chart.py:458: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df.columns)
/Users/bgong/Documents/PyProjects/pandas_alive/.venv/lib/python3.8/site-packages/pandas_alive/_base_chart.py:459: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
/Users/bgong/Documents/PyProjects/pandas_alive/.venv/lib/python3.8/site-packages/matplotlib/animation.py:884: UserWarning: Animation was deleted without rendering anything. This is most likely not intended. To prevent deletion, assign the Animation to a variable, e.g. `anim`, that exists until you output the Animation using `plt.show()` or `anim.save()`.
  warnings.warn(

LineChart(df=Country               Armenia    Aruba   Australia    Austria  Azerbaijan  \
Date_reported
2020-01-05 00:00:00       0.0      0.0         0.0        0.0         0.0
2020-01-06 09:36:00       0.0      0.0         0.0        0.0         0.0
2020-01-07 19:12:00       0.0      0.0         0.0        0.0         0.0
2020-01-09 04:48:00       0.0      0.0         0.0        0.0         0.0
2020-01-10 14:24:00       0.0      0.0         0.0        0.0         0.0
...                       ...      ...         ...        ...         ...
2023-12-25 09:36:00  451353.0  44224.0  11710216.0  6081287.0    834183.0
2023-12-26 19:12:00  451353.0  44224.0  11710216.0  6081287.0    834183.0
2023-12-28 04:48:00  451353.0  44224.0  11710216.0  6081287.0    834183.0
2023-12-29 14:24:00  451353.0  44224.0  11710216.0  6081287.0    834183.0
2023-12-31 00:00:00  451353.0  44224.0  11710216.0  6081287.0    834183.0

Country              Bahamas   Bahrain  Bangladesh  Barbados   Belarus  \
Date_reported
2020-01-05 00:00:00      0.0       0.0         0.0       0.0       0.0
2020-01-06 09:36:00      0.0       0.0         0.0       0.0       0.0
2020-01-07 19:12:00      0.0       0.0         0.0       0.0       0.0
2020-01-09 04:48:00      0.0       0.0         0.0       0.0       0.0
2020-01-10 14:24:00      0.0       0.0         0.0       0.0       0.0
...                      ...       ...         ...       ...       ...
2023-12-25 09:36:00  38084.0  696614.0   2046216.8  110153.0  994037.0
2023-12-26 19:12:00  38084.0  696614.0   2046226.6  110153.0  994037.0
2023-12-28 04:48:00  38084.0  696614.0   2046236.4  110153.0  994037.0
2023-12-29 14:24:00  38084.0  696614.0   2046246.2  110153.0  994037.0
2023-12-31 00:00:00  38084.0  696614.0   2046256.0  110153.0  994037.0

Country                Belgium   Belize    Benin  Bermuda   Bhutan
Date_reported
2020-01-05 00:00:00        0.0      0.0      0.0      0.0      0.0
2020-01-06 09:36:00        0.0      0.0      0.0      0.0      0.0
2020-01-07 19:12:00        0.0      0.0      0.0      0.0      0.0
2020-01-09 04:48:00        0.0      0.0      0.0      0.0      0.0
2020-01-10 14:24:00        0.0      0.0      0.0      0.0      0.0
...                        ...      ...      ...      ...      ...
2023-12-25 09:36:00  4841934.0  71373.0  28036.0  18860.0  62697.0
2023-12-26 19:12:00  4841934.0  71373.0  28036.0  18860.0  62697.0
2023-12-28 04:48:00  4841934.0  71373.0  28036.0  18860.0  62697.0
2023-12-29 14:24:00  4841934.0  71373.0  28036.0  18860.0  62697.0
2023-12-31 00:00:00  4841934.0  71373.0  28036.0  18860.0  62697.0

[1041 rows x 15 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%d/%m/%Y', figsize=array([6.5, 3.5]), title=None, fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label={'x': 0.25, 'y': 0.9}, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, line_width=2, label_events=None, fill_under_line_color=None, add_legend=True)